In [78]:
import pandas as pd

In [79]:
df = pd.read_csv('glassdoor_jobs.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
3,Research Scientist,-1,Responsibilities\nIndependently develop and ex...,-1.0,Repair Biotechnologies,"Syracuse, NY",-1,-1,-1,-1,-1,-1,-1,-1

### TO DO

#### 1. Salary parsing

In [80]:
df['Salary Hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['Salary Employer Provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [81]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Hourly,Salary Employer Provided
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0
3,Research Scientist,-1,Responsibilities\nIndependently develop and ex...,-1.0,Repair Biotechnologies,"Syracuse, NY",-1,-1,-1,-1,-1,-1,-1,-1,0,0

In [82]:
df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x: x.replace('K', '').replace('$', ''))

In [83]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary', ''))

df['Min Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['Max Salary'] = min_hr.apply(lambda x: int(x.split('-')[1])) 
df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/ 2

<ipython-input-83-c91d75f486d2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Min Salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
<ipython-input-83-c91d75f486d2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Max Salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))
<ipython-input-83-c91d75f486d2>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Avg Salary'] = (df['Min Salary'] + df['Max Salary'])/ 2

In [84]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Hourly,Salary Employer Provided,Min Salary,Max Salary,Avg Salary
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,30,55,42.5
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,53,108,80.5
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,40,65,52.5

#### 2. Company name text only

In [85]:
df['Company Text'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)
df

<ipython-input-85-77b6b655877b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Text'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3], axis=1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Hourly,Salary Employer Provided,Min Salary,Max Salary,Avg Salary,Company Text
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,30,55,42.5,British American Tobacco\n
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,53,108,80.5,British American Tobacco\n
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0,40,65,52.5,British American Tobacco\n

#### 3. State field

In [86]:
df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])
df['Job State'].value_counts()
df

<ipython-input-86-080ca3987c41>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job State'] = df['Location'].apply(lambda x: x.split(',')[1])

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,Salary Hourly,Salary Employer Provided,Min Salary,Max Salary,Avg Salary,Company Text,Job State
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,Manufacturing,$10+ billion (USD),-1,0,0,30,55,42.5,British American Tobacco\n,NC
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,Manufacturing,$10+ billion (USD),-1,0,0,53,108,80.5,British American Tobacco\n,NC
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,...,Manufacturing,$10+ billion (USD),-1,0,0,40,65,52.5,British American Tobacco\n,TN

In [87]:
df['Same Location'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)
df

<ipython-input-87-6afeed6ded96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Same Location'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,Salary Hourly,Salary Employer Provided,Min Salary,Max Salary,Avg Salary,Company Text,Job State,Same Location
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,$10+ billion (USD),-1,0,0,30,55,42.5,British American Tobacco\n,NC,0
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,$10+ billion (USD),-1,0,0,53,108,80.5,British American Tobacco\n,NC,0
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,...,$10+ billion (USD),-1,0,0,40,65,52.5,British American Tobacco\n,TN,0

#### 4. Age of company

In [88]:
df['Company Age'] = df.Founded.apply(lambda x: x if x < 1 else 2021 - x)

<ipython-input-88-bb968233c060>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Age'] = df.Founded.apply(lambda x: x if x < 1 else 2021 - x)

In [89]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Competitors,Salary Hourly,Salary Employer Provided,Min Salary,Max Salary,Avg Salary,Company Text,Job State,Same Location,Company Age
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,-1,0,0,30,55,42.5,British American Tobacco\n,NC,0,119
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,-1,0,0,53,108,80.5,British American Tobacco\n,NC,0,119
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,...,-1,0,0,40,65,52.5,British American Tobacco\n,TN,0,119

#### 5. Parsing Job Description

In [90]:
#Python
df['Python Job'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['Python Job'].value_counts()

<ipython-input-90-12896b816201>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Python Job'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

0    3
Name: Python Job, dtype: int64

In [91]:
#R-Studio
df['R-Studio Job'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df['R-Studio Job'].value_counts()

<ipython-input-91-a39cdff2a70f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['R-Studio Job'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

0    3
Name: R-Studio Job, dtype: int64

In [92]:
# Spark
df['Spark Job'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Spark Job'].value_counts()

<ipython-input-92-2d4fd0cf4e81>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Spark Job'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

0    3
Name: Spark Job, dtype: int64

In [93]:
# AWS
df['AWS Job'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['AWS Job'].value_counts()

<ipython-input-93-36c223776e1a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AWS Job'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

0    3
Name: AWS Job, dtype: int64

In [94]:
# Excel
df['Excel Job'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['Excel Job'].value_counts()

<ipython-input-94-783a2ab287ca>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Excel Job'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

1    3
Name: Excel Job, dtype: int64

#### 6. Saving to CSV

In [95]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Avg Salary,Company Text,Job State,Same Location,Company Age,Python Job,R-Studio Job,Spark Job,AWS Job,Excel Job
0,"Scientist, Clinical Data Manager",$30K - $55K (Glassdoor est.),Job Number: 29829\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,42.5,British American Tobacco\n,NC,0,119,0,0,0,0,1
1,"Sr Scientist, Product Data Management",$53K - $108K (Glassdoor est.),Job Number: 31636\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Winston-Salem, NC",-1,10000+ Employees,1902,Company - Public,...,80.5,British American Tobacco\n,NC,0,119,0,0,0,0,1
2,Scientist - R&D ASC,$40K - $65K (Glassdoor est.),Job Number: 31115\n\nReynolds American Incorpo...,4.3,British American Tobacco\n4.3,"Memphis, TN",-1,10000+ Employees,1902,Company - Public,...,52.5,British American Tobacco\n,TN,0,119,0,0,0,0,1

In [96]:
df_out  = df.copy()

In [97]:
df_out.to_csv('Salary_Data_Cleaned.csv', index = False)

In [ ]:
df_out.head()